name: Publish package

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
    branches:
      - main

defaults:
  run:
    working-directory: src

jobs:
  release:
    name: Release
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: "Generate token"
        id: generate_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.SEMANTIC_RELEASE_APP_ID }}
          private_key: ${{ secrets.SEMANTIC_RELEASE_APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"

      - name: Install dependencies
        run: npm ci

      - name: Publish package to NPM
        run: |
          npx semantic-release
          # If semantic-release created a new version, publish it with OIDC
          if [ -f package.json ]; then
            npm publish
          fi
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
